.article-page-container {
    margin-top: 100px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    align-items: center;
}

.article-page-image {
    width: 50%;
}

.article-page-image:hover {
    animation-name: image-opacity;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.article-page-meta {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article-page-body {
    text-align: justify;
    width: 50%;
}

@keyframes image-opacity {
    from {opacity: 100%;}
    to {opacity: 50%;}
}