@keyframes image-opacity {
    from {opacity: 100%;}
    to {opacity: 50%;}
}

.author-page-container {
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
}

.author-page-body {
    margin-top: 10vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author-page-image {
    max-width: 60%;
    height: 50%;
    object-fit: scale-down;
}

.author-page-image:hover {
    animation-name: image-opacity;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.author-page-content {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    justify-content: space-between;
}

.author-page-text {
    text-align: justify;
}