.footer {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--f-color);
    text-align: center;
    font-size: 3vw;
}

.footer-content {
    font-weight: bold;
    padding: 2vw;
    cursor: pointer;
}