:root {
    --back-color: #57606f;
}

@keyframes header-hover {
    from {box-shadow: none;}
    to {box-shadow: 5px 5px 30px #2f3542;}
}

.header {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: var(--back-color);
}

.header:hover {
    animation-name: header-hover;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}