@keyframes header-hover {
    from {box-shadow: none;}
    to {box-shadow: 5px 5px 30px #2f3542;}
}

@keyframes back-rotate {
    from {rotate: 0deg;}
    to {rotate: 360deg;}
}

@keyframes rocket-shake {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

.header {
    z-index: 1;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: var(--back-color);
    box-shadow: 5px 5px 30px #2f3542;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-back {
    margin-left: 10px;
    margin-right: auto;
}

.header-title {
    margin-right: auto;
    flex-grow: 1;
}

.header-rocket {
    animation: rocket-shake 0.5s infinite;
}

.header-back:link,
.header-back:visited,
.header-back:hover,
.header-back:active {
    color: black;
    text-decoration: none;
}

.header-back:hover {
    animation: back-rotate;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}