@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
    --f-color: #2f3542;
    --back-color: #ced6e0;
}

body {
    margin: 0;
    padding: 0;
}

.main-container {
    font-family: 'Montserrat', sans-serif;
    color: var(f-color);
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}